@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');



.cardHead {
  font-family: 'Exo', sans-serif;
  text-align: center;
  /* display: inline; */
}

body {
  background: rgb(128, 138, 127);
}

.logo {
  height: 70px;
  width: 70px;
  background: rgb(63, 58, 58);
  color: white;
  font-family: 'Exo', sans-serif;
  display: inline-block;
  float: left;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  padding: 20px 10px 5px;
}

.headers {
  justify-content: center;
  font-family: 'Exo', sans-serif;
  display: inline-block;
}

.options {
  text-align: center;
  font-family: 'Exo', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.radios {
  flex-direction: row-reverse;

}

.response {
  display:inline-block;
}

